@model IEnumerable<DropDown.Models.Projet>

@{
    ViewData["Title"] = "ListProj";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des projets</h1>

<p>
    <a asp-action="CreateProjet" class="btn btn-primary mb-2">Ajouter un projet</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
           
            <td>
                <a asp-action="EditProjet" asp-route-id="@item.Id">Modifier</a> |
                <a asp-action="ListAction" asp-route-id="@item.Id">Actions</a> |
                <a asp-action="DeleteProjet" asp-route-id="@item.Id">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
